/* src/assets/styles/Footer.css */
.footer-container {
  background-color: var(--primary-color);
  padding: 20px;
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: 0;
  transition: background-color 0.3s ease;
}