/* src/assets/styles/Skills.css */
.skills-container {
  padding: 50px 20px;
  background-color: var(--primary-color);
  margin-top: 50px;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.skills-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill-category {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.skill-category h3 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.skill-category ul {
  list-style: none;
  padding: 0;
}

.skill-category li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-category li svg {
  margin-right: 8px;
  color: var(--primary-color);
}