/* src/assets/styles/Skills.css */
.skills-container {
  padding: 20px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.skills-container h2 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.skills-container ul {
  list-style: none;
  padding: 0;
}

.skills-container li {
  display: inline-block;
  margin: 5px;
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--white-color);
}

.skills-container li:hover {
  transform: scale(1.04);
  margin-left: 8px;
  margin-right: 8px;
}