/* src/assets/styles/variables.css */
:root {
    --primary-color: #68A4F1; /* Corn flower blue */
    --secondary-color: #2B6AD0; /* Royal Blue */
    --accent-color: #1F4591; /* Dark blue */
    --background-color: #000e27; /* Navy blue */
    --text-color: #D4F1F4; /* Baby Blue */
    --white-color: #ffffff; /* White */
  }