/* src/assets/styles/Projects.css */
.projects-container {
  padding: 20px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.projects-container h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
}

.project {
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--background-color);
  transition: transform 0.2s ease-in-out; /* Transition for smooth hover effect */
}

.project h3 {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.project p {
  color: var(--text-color);
}

.project:hover {
  transform: scale(1.01); /* Slightly grow the project card on hover */
}